{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 5,
    "impliedStrict": "disabled"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "eqeqeq": ["error", "always"],
    "no-template-curly-in-string": "error",
    "no-console": "off",
    "indent": ["error", 2],
    "quotes": ["warn", "single", {"allowTemplateLiterals": true}],
    "no-multi-spaces": ["warn", {"exceptions": { "VariableDeclarator": true }}],
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "new-cap": "warn",
    "no-redeclare": ["error", { "builtinGlobals": true }],
    "semi": [2, "always"],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "space-infix-ops": [2, {"int32Hint": false}]
  }
}
